@model  List<NLayerApp.BusinessLogicLayer.Models.AdminCommercialViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Загальний список обєктів "Комерційна нерухомість "</h2>

<div>
    @if ((Model?.Count ?? 0) > 0)
    {
        <table border="1" cols="8">
            <tr>
                <td width="40"><b>Id </b></td>
                <td><b>тип операції </b> </td>
                <td><b>населений пункт </b></td>
                <td><b>вулиця</b></td>
                <td><b>будинок №</b></td>
                <td><b>офіс №</b></td>
                <td style="color: red"><b>редагування</b> </td>
                <td style="color: red" ><b>видалення </b></td>
            </tr>
            @foreach (var b in Model)
            {
                <tr>
                    <td>@b.Id</td>
                    <td>@b.OperationType</td>
                    <td>@b.Village</td>
                    <td>@b.Street</td>
                    <td>@b.AddressNumber</td>
                    <td>@b.OficeNumber</td>
                    <td><a href="/AdminCommercial/Edit/@b.Id" style="color: red">[редагувати]</a></td>
                    <td><a href="/AdminCommercial/Delete/@b.Id" style="color: red">[видалити]</a></td>
                </tr>
            }
            <tr>
                <td colspan="8" align="center" style="background-color:mediumpurple"> Додати новий: </td>
            </tr>
            <tr>
                <td colspan="8" style="background-color:orange">
                    <form method="Get" action="/AdminCommercial/MyInsert">
                        <input type="submit" value="Додати новий обьєкт" />
                    </form>
                </td>
            </tr>
        </table>
    }
</div>

