
@{
    ViewBag.Title = "MyInsert";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}



<h2>Комерційна нерухомість</h2>

<form method="POST" action="/AdminCommercial/MyInsert">
    <!-- ++++++++++++++++++++++++++   Адреса  ++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Адресні дані </legend>


        <!--Населені пункти -->
        <p>
            <label>населений пункт:</label>
            @Html.DropDownList("Village", ViewBag.villageName as SelectList)
        </p>
        <!--Райони-->
        <p>
            <label>район:</label>
            @Html.DropDownList("Region", ViewBag.regionName as SelectList)
        </p>
        <!--вулиця -->
        <p>
            <label>вулиця:</label>
            @Html.DropDownList("Street", ViewBag.streetName as SelectList)
        </p>
        <!--Номер будинку-->
        <p>
            <label>будинок № :</label>
            <input type="text" id="adress_number" name="NumberAdress"/>
        </p>
        <p>
            <label> офіс № :</label>
            <input type="number" name="OficeNumber"/>
        </p>

       
    </fieldset>
    <!-- +++++++++++++++++++++++++++ Детальна інформація +++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Детальна інформація</legend>
        <!--Призначення обьекту-->
        <p>
            <label>призначення:</label>
            <select name="TypeCommercial">
                <option value="офісно-адміністративне">офісно-адміністративне</option>
                <option value="виробниче">виробниче</option>
                <option value="складське">складське</option>
                <option value="торгове">торгове</option>
                <option value="розважальне">розважальне</option>
                <option value="гараж">гараж</option>
                <option value="вільне призначення">вільне призначення</option>
            </select>
        </p>

        <!--Стан обьекту-->
        <p>
            <label>стан:</label>
            <select name="StateCommercial">
                <option value="відмінний">відмінний</option>
                <option value="хороший">хороший</option>
                <option value="задовільний">задовільний</option>
                <option value="потрібний ремонт">потрібний ремонт</option>
                <option value="оздоблювальні роботи">оздоблювальні роботи</option>
            </select>
        </p>
        <!-- Поверх -->
        <p>
            <label>поверх:</label>
            <select name="FloorCommercial">
                <option value="підвал">підвал</option>
                <option value="цоколь">цоколь</option>
                <option value="перший">1</option>
                <option value="другий">2</option>
                <option value="третій">3</option>
                <option value="четвертий">4</option>
                <option value="п'ятий">5</option>
                <option value="шостий">6</option>
                <option value="сьомий">7</option>
                <option value="восьмий">8</option>
                <option value="девятий">9</option>
                <option value="десятий">10</option>
                <option value="одинадцятий">11</option>
                <option value="дванадцятий">12</option>
                <option value="тринадцятий">13</option>
                <option value="чотирнадцятий">14</option>
                <option value="пятнадцятий">15</option>
                <option value="шістнадцятий">16</option>
                <option value="сімнадцятий">17</option>
                <option value="вісімнадцятий">18</option>
                <option value="дев'ятнадцятий">19</option>
                <option value="двадцятий">20</option>
                <option value="двадцять перший"></option>
                <option value="двадцять другий"></option>
                <option value="двадцять третій"></option>
                <option value="двадцять четвертий"></option>
            </select>
        </p>
        <!-- зангальні кількість поверхів -->
        <p>
            <label>загальна кількість поверхів:</label>
            <input type="number" id="float_number" name="TotalFloorCommercial" min="1" max="24" />
        </p>
        <!-- Матеріал підлоги -->
        <p>
            <label>матеріал підлоги:</label>
            @Html.DropDownList("FloorMaterial", ViewBag.floorMaterialName as SelectList)
        </p>
        <!-- Матеріал стін -->
        <p>
            <label>матеріал стін:</label>
            @Html.DropDownList("WallMaterial", ViewBag.wallMaterialName as SelectList)
            <!-- Загальна площа -->
        <p>
            <label>загальна площа:</label>
            <input type="number" id="total_area" name="TotalArea"   /> m<sup><small>2</small></sup>
        </p>
        <!-- Корисна  плоша -->
        <p>
            <label>корисна площа </label>
            <input type="number" id="living_area" name="EffectiveAreaCommercial" /> m<sup><small>2</small></sup>
        </p>
        <!-- Площа земельної ділянки  -->
        <p>
            <label> площа прилягаючої земельної ділянки:</label><!--???????????????????????????????????-->
            <input type="number" id="" name="LandAreaCommercial"  /> (Га)
        </p>
    </fieldset>
    <!-- ++++++++++++++++++++++++++ Комунікаціїї ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Комунікації</legend>
        <p>

        <p>
            <input value="true" name="Gas" type="checkbox" />газ
        </p>
        <p>
            <input value="true" name="RailWay" type="checkbox" />залізнична дорога
        </p>
        <p>
            <input value="true" name="CentralSewerage" type="checkbox" />центральна каналізація
        </p>
        <p>
            <input value="true" name="CentralWater" type="checkbox" />центральне водопостачання
        </p>
        <p>
            <input value="true" name="CentralHeating" type="checkbox" />центральне отоплення
        </p>
        <p>
            <input value="true" name="Electricity" type="checkbox" />електроенергія
        </p>
        <p>
            <input value="true" name="AutonomousSewerage" type="checkbox" />автономна каналізація
        </p>
        <p>
            <input value="true" name="AutonomusHeating" type="checkbox"/>автономне опалення
        </p>
        <p>
            <input value="true" name="AutonomousWater" type="checkbox" />автономне водопостачання
        </p>

        </p>
    </fieldset>
    <!-- +++++++++++++++++++   Додаткове обладнання ++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Додаткове обладнання</legend>

      
        <p>
            <input value="true" name="Boiler" type="checkbox" />бойлер
        </p>
        <p>
            <input value="true" name="Intercom" type="checkbox" />домофон
        </p>
        <p>
            <input value="true" name="Internet" type="checkbox" />інтернет
        </p>
        <p>
            <input value="true" name="CableTv" type="checkbox" />кабельне телебачення
        </p>
        <p>
            <input value="true" name="FirePlace" type="checkbox" />камін
        </p>
        <p>
            <input value="true" name="Air" type="checkbox" />кондіціонер
        </p>
        <p>
            <input value="true" name="Furniture" type="checkbox" />меблі
        </p>
        <p>
            <input value="true" name="MyWindows" type="checkbox" /> склопакети
        </p>
        <p>
            <input value="true" name="Signaling" type="checkbox" />сигналізація
        </p>
        <p>
            <input value="true" name="SatelliteTv" type="checkbox" />супутникове телебачення
        </p>
        <p>
            <input value="true" name="WashingMachine" type="checkbox" />пральна машинка
        </p>
        <p>
            <input value="true" name="Telephone" type="checkbox" />телефон
        </p>
      


    </fieldset>
    <!-- ++++++++++++++++++++++++++++++++++++++ Опис обєкту ++++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Опис обєкту</legend>
        <!-- Заголовок -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">заголовок :</label><br />
            <textarea id="" name="CaptionLink" cols="120" rows="2"></textarea>
        </p>
        <!-- Детальна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">детальна інформація</label><br>
            <textarea id="" name="InfoDetails" cols="120" rows="5"></textarea>
        </p>
        
    </fieldset>
    <!-- +++++++++++++++++++++++++++++++++++++ Додавання фото +++++++++++++++++++++++++++++++++++++++++++++++++ -->
    
    <p>
        <button type="submit">Зберегти обьєкт</button>
        <button type="reset">Очистити форму</button>

    </p>

</form>

