@model NLayerApp.BusinessLogicLayer.Models.DeleteHouseViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Видадення з бази даних</h2>
<h3>обєкту "Будинок"</h3>
<div>
    @if ((Model?.Id ?? 0) > 0)
    {
        <p style="font-size: 30px; color: red; text-align: center">Увага!!!!</p>
        <p style="font-size: 20px;"> ви збираєтесь виладити з бази данних без змоги відновити обєкт з такими параметрами:</p>
        <form method="POST" action="/AdminHouse/Delete">
            <table>
                <tr><td>Id :</td><td><input value="@Model.Id" name="Id" /></td></tr>
                <tr><td>Населений пункт :</td><td>@Html.DropDownList("Village", ViewBag.villageName as SelectList, @Model.Village)</td></tr>
                <tr><td>Район:</td><td>@Html.DropDownList("Region", ViewBag.regionName as SelectList, @Model.Region)</td></tr>
                <tr><td>Вулиця:</td><td>@Html.DropDownList("Street", ViewBag.streetName as SelectList, @Model.Street)</td></tr>
                <tr><td>Нрмер будинку:</td><td><input value="@Model.NumberAdress" name="NumberAdress" /></td></tr>
                <tr><td>тип операції:</td><td>@Html.EnumDropDownListFor(model => model.OperationType)</td></tr>
                <tr><td>Площа будинку:</td><td><input value="@Model.LivingAreaHouse" name="LivingAreaHouse"/></td></tr>
                <tr><td>Детальна Інфо :</td><td><input value="@Model.InfoDetails" name="InfoDetails" /></td></tr>


            </table>
            <input type="submit" value="Видалити" />
        </form>
    }
</div>


<div style="margin-top: 50px; margin-bottom: 20px">
    @Html.ActionLink("Повернутися до списку обєктів Будинки", "Index")
</div>


