@{
    ViewBag.Title = "MyInsert";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}


<h2>Будинки</h2>
<form method="POST" action="/AdminHouse/MyInsert">

    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Адресні дані </legend>

        <!--Населені пункти -->
        <p>
            <label>населений пункт:</label>
            @Html.DropDownList("Village", ViewBag.villageName as SelectList)
        </p>
        <!--Райони-->
        <p>
            <label>район:</label>
            @Html.DropDownList("Region", ViewBag.regionName as SelectList)
        </p>
        <!--вулиця -->
        <p>
            <label>вулиця:</label>
            @Html.DropDownList("Street", ViewBag.streetName as SelectList)
        </p>
        <!--Номер будинку-->
        <p>
            <label>будинок № :</label>
            <input type="text" id="adress_number" name="NumberAdress" />
        </p>

        <label for="operation">Вид операції:</label>
        <select id="operation" name="OperationType">
            <option value="оренда">оренда</option>
            <option value="продаж">продаж</option>
        </select><br />
        <!--прододжить разбоп с этого места -->
    </fieldset>
    <!-- +++++++++++++ Детальна інформація +++++++++++++++++ -->
    <fieldset>

        <legend style="color: blue; font-size: 25px; font-style: oblique;">Детальна інформація</legend>
        <!-- тип будинку -->
        <p>
            <label>тип будинку:</label>
            <select name="TypeHouse">
                <option value="будинок">будинок</option>
                <option value="котедж">котедж</option>
                <option value="літній будинок">літній будинок</option>
            </select>
        </p>
        <!-- Готовність до заселення -->
        <p>
            <label>готовність до заселення:</label>
            <select name="ReadinessHouse">
                <option value="в єксплуатації">в єксплуатації</option>
                <option value="новобудова">новобудова</option>
                <option value="будується">будується </option>
                <option value="вільний">вільна</option>
            </select>
        </p>

        <!--Стан обьекту-->
        <p>
            <label>стан:</label>
            <select name="ConditionHouse">
                <option value="відмінний">відмінний</option>
                <option value="хороший">хороший</option>
                <option value="задовільний">задовільний</option>
                <option value="потрібний ремонт">потрібний ремонт</option>
                <option value="без оздоблювальних робіт">без оздоблювальних робіт</option>
            </select>
        </p>
        <!-- частина будинку -->
        <p>
            <label>частина будинку:</label>
            <select name="PartHouse">
                <option value="1">1</option>
                <option value="1/2">1/2</option>
                <option value="1/3">1/3</option>
                <option value="1/4">1/4</option>
                <option value="1/5">1/5</option>
                <option value="2/3">2/3</option>
                <option value="2/5">2/5</option>
            </select>
        </p>
        <!-- Кількість кімнат -->
        <p>
            <label>кількість кімнат:</label>
            <input type="number" id="float_number" name="RoomsHouse" min="1" max="5"/>
           
        </p>
        <!-- зангальні кількість поверхів -->
        <p>
            <label>кількість поверхів:</label>
            <input type="number" id="float_number" name="FloorHouse" min="1" max="5" />
        </p>
        <!-- Матеріал підлоги -->
        <p>
            <label>матеріал підлоги:</label>
            @Html.DropDownList("FloorMaterial", ViewBag.floorMaterialName as SelectList)
        </p>

        <!-- Матеріал стін -->
        <p>
            <label>матеріал стін:</label>
            @Html.DropDownList("WallMaterial", ViewBag.wallMaterialName as SelectList)
        </p>

        <!-- Загальна площа -->
        <p>
            <label>загальна площа:</label>
            <input type="number" id="total_area" name="TotalAreaInfo" min="0.1" max="200.9" step="0.1" /> m<sup><small>2</small></sup>
        </p>
        <!-- Житлова плоша -->
        <p>
            <label>житлова площа </label>
            <input type="number" id="living_area" name="LivingAreaHouse" min="0.1" max="200.9" step="0.1" /> m<sup><small>2</small></sup>
        </p>
        <!-- Площа кухні -->
        <p>
            <label> площа кухні:</label>
            <input type="number" id="kitchen_area" name="KitchenAreaHouse" min="0.1" max="200.9" step="0.1" /> m <sup><small>2</small></sup>
        </p>
        <!-- Площа прилягаючої  земельної ділянки  -->
        <p>
            <label> площа прилеглої земельної ділянки:</label>
            <input type="number" id="land_area_house" name="LandAreaHouse" min="0.1" step="0.1" /> (Га)
        </p>
    </fieldset>
    <!-- +++++++++++++++++++   Додаткове обладнання ++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Додаткове обладнання</legend>

        <p>
        <p>
            <input value="true" name="Boiler" type="checkbox" />бойлер
        </p>
        <p>
            <input value="true" name="Intercom" type="checkbox" />домофон
        </p>
        <p>
            <input value="true" name="Internet" type="checkbox" />інтернет
        </p>
        <p>
            <input value="true" name="CableTv" type="checkbox" />кабельне телебачення
        </p>
        <p>
            <input value="true" name="FirePlace" type="checkbox" />камін
        </p>
        <p>
            <input value="true" name="Air" type="checkbox" />кондіціонер
        </p>
        <p>
            <input value="true" name="Furniture" type="checkbox" />меблі
        </p>
        <p>
            <input value="true" name="MyWindows" type="checkbox" /> склопакети
        </p>
        <p>
            <input value="true" name="Signaling" type="checkbox" />сигналізація
        </p>
        <p>
            <input value="true" name="SatelliteTv" type="checkbox" />супутникове телебачення
        </p>
        <p>
            <input value="true" name="WashingMachine" type="checkbox" />пральна машинка
        </p>
        <p>
            <input value="true" name="Telephone" type="checkbox" />телефон
        </p>
        </p>

    </fieldset>
    <!-- ++++++++++++++++++++ Комунікацїї +++++++++++++++++++++++++ -->

    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Комунікації</legend>
        <p>

        <p>
            <input value="true" name="Gas" type="checkbox"/>газ
        </p>
        <p>
            <input value="true" name="RailWay" type="checkbox" />залізнична дорога
        </p>
        <p>
            <input value="true" name="CentralSewerage" type="checkbox" />центральна каналізація
        </p>
        <p>
            <input value="true" name="CentralWater" type="checkbox" />центральне водопостачання
        </p>
        <p>
            <input value="true" name="CentralHeating" type="checkbox" />центральне отоплення
        </p>
        <p>
            <input value="true" name="Electricity" type="checkbox" />електроенергія
        </p>
        <p>
            <input value="true" name="AutonomousSewerage" type="checkbox" />автономна каналізація
        </p>
        <p>
            <input value="true" name="AutonomusHeating" type="checkbox" />автономне опалення
        </p>
        <p>
            <input value="true" name="AutonomousWater" type="checkbox" />автономне водопостачання
        </p>

        </p>
    </fieldset>
    <!-- +++++++++++++++++++++ Надвірні побудови ++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Надвірні побудови</legend>

        <p>
            <input value="true" name="BahtHouse" type="checkbox" /> баня
        </p>
        <p>
            <input value="true" name="Swimming" type="checkbox" />басейн
        </p>
        <p>
            <input value="true" name="Garage" type="checkbox" />гараж
        </p>
        <p>
            <input value="true" name="Well" type="checkbox" />колодязь
        </p>
        <p>
            <input value="true" name="SummerKitchen" type="checkbox" />літня кухня
        </p>
        <p>
            <input value="true" name="WorkShop" type="checkbox" />майстерня
        </p>
        <p>
            <input value="true" name="Barn" type="checkbox" />сарай
        </p>
        <p>
            <input value="true" name="Well1" type="checkbox" /> скважина
        </p>
        <p>
            <input value="true" name="GreenHouse" type="checkbox" />теплиця
        </p>

    </fieldset>
    <!-- +++++++++++++++++++++++++   Опис обєкту  ++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Опис обєкту</legend>
        <!-- Заголовок -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">заголовок :</label><br />
            <textarea id="" name="CaptionLink" cols="120" rows="2"></textarea>
        </p>

        <!-- Детальна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">детальна інформація</label><br>
            <textarea id="" name="InfoDetails" cols="120" rows="5"></textarea>
        </p>
       
        <!-- ціна в гривнях -->
        <p>
            <label>ціна:</label>
            <input type="number" id="" name="GrnPrice" min="0" step="1" /> <span style="color: red; font-weight: bold;">грн.</span>
        </p>
        <!-- ціна в доларах -->
        <p>
            <label>ціна:</label>
            <input type="number" id="" name="DollarPrice" min="0" step="0" /> <span style="color: red; font-weight: bold;">$</span>
        </p>
    </fieldset>
   
    <!-- кнопочки -->
    <p>
        <button type="submit">Зберегти обьєкт</button>
        <button type="reset">Очистити форму</button>
    </p>
</form>

