@using NLayerApp.WEB.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<h2>Корегування обєктів Бази Данних</h2>
<div>
    
        <p style="color: red; font-size: 25px; font-style: inherit; text-align: center">Вхід</p>

        <div  style=" float: right; border-right: 2px solid black ">
            <h4 style="color: red">Використовуйте свій обліковий запис для входу!</h4>
            <form method="POST"   >
                <p>
                    <label for="Email">Введіть логін:</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })


                   <!-- <input type="email" placeholder="user@gmail.com" name="Email" />-->
                </p>
                <p>

                    <label for="Password">Введіть пароль:</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <!--<input type="password" name="Password"/>-->
                </p>
                <p>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </p>
                <input type="submit" value="Виконати вхід"/>
            </form>
        </div>

    
</div>
   