@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Комерційна нерухомість</h2>

<form method="POST" action="">
    <!-- ++++++++++++++++++++++++++   Адреса  ++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Адресні дані </legend>
        

        <!--Населені пункти -->
        <p>
            <label>Населений пункт:</label>
            @Html.DropDownList("Village", ViewBag.villageName as SelectList)
        </p>
        <!--Райони-->
        <p>
            <label>Район:</label>
            @Html.DropDownList("Region", ViewBag.regionName as SelectList)
        </p>
        <!--вулиця -->
        <p>
            <label>Вулиця:</label>
            @Html.DropDownList("Street", ViewBag.streetName as SelectList)
        </p>
        <!--Номер будинку-->
        <p>
            <label>Будинок № :</label>
            <input type="text" id="adress_number" name="NumberAdress" />
        </p>

        <label for="operation">Вид операції:</label>
        <select id="operation" name="OperationType">
            <option value="0">оренда</option>
            <option value="1">продаж</option>
        </select><br />
    </fieldset>
    <!-- +++++++++++++++++++++++++++ Детальна інформація +++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Детальна інформація</legend>
        <!--Призначення обьекту-->
        <p>
            <label>Призначення:</label>
            <select name="TypeCommercial">
                <option value="Офісно-адміністративне">Офісно-адміністративне</option>
                <option value="Виробниче">Виробниче</option>
                <option value="Складське">Складське</option>
                <option value="Торгове">Торгове</option>
                <option value="Розважальне">Розважальне</option>
                <option value="Гараж">Гараж</option>
                <option value="Вільне призначення" >Вільне призначення</option>
            </select>
        </p>

        <!--Стан обьекту-->
        <p>
            <label>Стан:</label>
            <select name="StateCommercial">
                <option value="відмінний">відмінний</option>
                <option value="хороший">хороший</option>
                <option value="задовільний">задовільний</option>
                <option value="потрібний ремонт">потрібний ремонт</option>
                <option value="оздоблювальні роботи">оздоблювальні роботи</option>
            </select>
        </p>
        <!-- Поверх -->
        <p>
            <label>Поверх:</label>
            <select name="FloorCommercial">
                <option value="-1">підвал</option>
                <option value="0">цоколь</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16+</option>
            </select>
        </p>
        <!-- зангальні кількість поверхів -->
        <p>
            <label>Загальна кількість поверхів:</label>
            <input type="number" id="float_number" name="TotalFloorCommercial" min="1" max="16" />
        </p>
        <!-- Матеріал підлоги -->
        <p>
            <label>Матеріал підлоги:</label>
            @Html.DropDownList("FloorMaterial", ViewBag.floorMaterialName as SelectList)
        </p>
        <!-- Матеріал стін -->
        <p>
            <label>Матеріал стін:</label>
            @Html.DropDownList("WallMaterial", ViewBag.wallMaterialName as SelectList)
        <!-- Загальна площа -->
        <p>
            <label>Загальна площа:</label>
            <input type="number" id="total_area" name="TotalArea" min="0.1" max="200.9" step="0.1" /> m<sup><small>2</small></sup>
        </p>
        <!-- Корисна  плоша -->
        <p>
            <label>Корисна площа </label><!--???????????????????????????????????-->
            <input type="number" id="living_area" name="EffectiveAreaCommercial" min="0.1" max="200.9" step="0.1" /> m<sup><small>2</small></sup>
        </p>
        <!-- Площа земельної ділянки  -->
        <p>
            <label> Площа прилягаючої земельної ділянки:</label><!--???????????????????????????????????-->
            <input type="number" id="" name="LandAreaCommercial" min="0.1" max="200.9" step="0.1" /> (Га)
        </p>    
    </fieldset>
    <!-- ++++++++++++++++++++++++++ Комунікаціїї ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Комунікації</legend>
        <p>
            
    <p>
        <input value="true" name="Gas" type="checkbox"/>Газ
    </p>
    <p>
        <input value="true" name="RailWay" type="checkbox"/>Залізнична дорога
    </p>
    <p>
        <input value="true" name="CentralSewerage" type="checkbox"/>Центральна каналізація
    </p>
    <p>
        <input value="true" name="CentralWater" type="checkbox"/>Центральне водопостачання
    </p>
    <p>
        <input value="true" name="CentralHeating" type="checkbox"/>Центральне отоплення
    </p>
    <p>
        <input value="true" name="Electricity" type="checkbox"/>Електроенергія
    </p>
    <p>
        <input value="true" name="AutonomousSewerage" type="checkbox"/>Автономна каналізація
    </p>
    <p>
        <input value="true" name="AutonomusHeating" type="checkbox"/>Автономне опалення
    </p>
    <p>
        <input value="true" name="AutonomousWater" type="checkbox"/>Автономне водопостачання
    </p>

        </p>
    </fieldset>
    <!-- +++++++++++++++++++   Додаткове обладнання ++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Додаткове обладнання</legend>
        
    <p>
        <p>
            <input value="true" name="Boiler" type="checkbox"/>Бойлер
        </p>
        <p>
            <input value="true" name="Intercom" type="checkbox"/>Домофон
        </p>
        <p>
            <input value="true" name="Internet" type="checkbox"/>Інтернет
        </p>
        <p>
            <input value="true" name="CableTv" type="checkbox"/>Кабельне телебачення
        </p>
        <p>
            <input value="true" name="FirePlace" type="checkbox"/>Камін
        </p>
        <p>
            <input value="true" name="Air" type="checkbox"/>Кондіціонер
        </p>
        <p>
            <input value="true" name="Furniture" type="checkbox"/>Меблі
        </p>
        <p>
            <input value="true" name="MyWindows" type="checkbox"/> Склопакети
        </p>
        <p>
            <input value="true" name="Signaling" type="checkbox"/>Сигналізація
        </p>
        <p>
            <input value="true" name="SatelliteTv" type="checkbox"/>Супутникове телебачення
        </p>
        <p>
            <input value="true" name="WashingMachine" type="checkbox"/>Пральна машинка
        </p>
        <p>
            <input value="true" name="Telephone" type="checkbox"/>Телефон
        </p>
    </p>
        

    </fieldset>
    <!-- ++++++++++++++++++++++++++++++++++++++ Опис обєкту ++++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Опис обєкту</legend>
        <!-- Заголовок -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Заголовок :</label><br />
            <textarea id="" name="CaptionLink" cols="120" rows="2"></textarea>
        </p>
        <!-- Коротка інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Коротка інформація:</label><br />
            <textarea id="" name="NameInfo" cols="120" rows="5"></textarea>
        </p>

        <!-- Детальна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Детальна інформація</label><br>
            <textarea id="" name="InfoDetails" cols="120" rows="5"></textarea>
        </p>
        <!-- Приватна інформація -->
        <p>
            <label style="color: crimson; font-size: 15px; font-style: oblique;">Приватна інформація</label><br />
            <textarea id="" name="InfoPrivat" cols="120" rows="5"></textarea>
        </p>
        <!-- ціна в гривнях -->
        <p>
            <label>Ціна:</label>
            <input type="number" id="" name="GrnPrice" min="0" step="1" /> <span style="color: red; font-weight: bold;">грн.</span>
        </p>
        <!-- ціна в доларах -->
        <p>
            <label>Ціна:</label>
            <input type="number" id="" name="DollarPrice" min="0" step="0" /> <span style="color: red; font-weight: bold;">$</span>
        </p>
    </fieldset>
    <!-- +++++++++++++++++++++++++++++++++++++ Додавання фото +++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend style="color: blue; font-size: 25px; font-style: oblique;">Додати фото</legend>
        <!--
        <p>
            <input type="file" name="foto" multiple/>
        </p>
    -->

    </fieldset>
    <p>
        <button type="submit">Зберегти обьєкт</button>
        <button type="reset">Очистити форму</button>
       
    </p>

</form>