@model List<NLayerApp.BusinessLogicLayer.Models.HouseViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SearchHouseForm.cshtml";
}


<div class="idDetailsInfo">
    @if ((Model?.Count ?? 0) > 0)
    {
        <h2>Знайдені будинки</h2>
        <table border="1" cols="4" width="auto">

            @foreach (var b in Model)
            {
                <tr>
                    <td rowspan="4">код № @b.Id</td>
                    <td rowspan="4">
                        <table width="100">
                            <tr>
                                <td>
                                    <img src="../../Image/house.jpg" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="2">
                        <a href="/House/OutPutDetailsInfoHouse/@b.Id" style="font-size: 17px; text-align: center"><b>@b.CaptionLink</b></a>
                    </td>
                </tr>

                <tr>
                    <td><b>@b.OperationType</b></td>
                    <td style="text-align: right">
                        <b>ціна:
                        @if (b.OperationType == "оренда")
                        {
                            @b.GrnPrice <span>грн.</span>
                        }
                        else
                        {
                            @b.DollarPrice<span>у.о.</span> 
                        }
                       </b>
                    </td>
                </tr>

                <tr><td colspan="2"> @b.Village,@b.Region, <b>тип</b> : "@b.TypeHouse"  </td></tr>
                <tr><td colspan="2"> кількість поверхів : @b.Floor, <b> загальна площа: @b.TotalArea m<sup>2</sup></b>  </td></tr>
               
            }
        </table>
    }
</div>

