@model NLayerApp.BusinessLogicLayer.Models.LandDetailsInfoViewModel
@{
    ViewBag.Title = "OutPutDetailsInfoLand";
    Layout = "~/Views/Shared/_SearchLandForm.cshtml";
}


<div>
    @if ((Model?.Id ?? 0) > 0)
    {
        //когда просто открывается страница (метода ж два, а вьюха одна) то модель пустая а ты это не обработал
        //это то же что если то что в скобках считать за метод то это тоже что и:
        //if (Model != null)
        //{
        //    return Model.Count;
        //}
        //return 0;
        //или Model != null ? Model.Count : 0;
        <h2>Детальна інформація по земельній ділянці</h2>
        <table   class="wd100" cols="4" >
            <tr>

                <td colspan="2" class="captionName">
                    <b> @Model.CaptionLink</b>
                </td>
            </tr>

            <tr>
                <td rowspan="5">
                    <table>
                        <tr>
                            <td>
                                <img src="/Image/Thumbnail/@Model.IdPicture" />
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>

            <tr>
                <td>@Model.OperationType <b> ціна:@Model.DollarPrice у.о.</b></td>
                <td class="tx-al-r">код об'яви <b> № @Model.Id </b> </td>
            </tr>

            <tr><td colspan="2"> @Model.Village  ,@Model.Region</td></tr>
            <tr><td colspan="2"> загальна площа:<b>@Model.LandArea Га</b> </td></tr>
           
        </table>

          <table>
                <p>
                    <label class="descriptiObj"><b class="colorRed">Детальний опис:</b></label><br>
                    @Html.TextAreaFor(model => model.InfoDetails, 4, 115, new {htmlAttributes = new {@class = "form-control"}})
                </p>
         </table>
        <table>

            <tr> <td colspan="4" class="bg-col-table tx-al-c"><b>Детальна інформація по земельній ділянці</b></td></tr>
            <tr>
                <td>Призначення земельної ділянки: </td>
                <td colspan="3">@Model.TypeLand</td>
            </tr>
           


            <!--додаткове обладнання -->
            <tr> <td colspan="4" class="bg-col-table tx-al-c"><b>Комунікації</b></td></tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.Gas)Газ</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.RailWay)Залізнична колія</td>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.CentralSewerage)Центральна каналізація</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.CentralHeating)Центральне опалення</td>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.CentralWater)Центральне водопостачання</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.Electricity)Електронергія</td>
            </tr>
           

        </table>
    }
</div>


