@model NLayerApp.BusinessLogicLayer.Models.TotalObjectViewModel
@using NLayerApp.DataAccessLayer.Domains.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div>
    <section class="main_information">
        <h2>Детальна інформація по номеру об'яви</h2>

        @if ((Model?.Id ?? 0) > 0)
        {

            <!--Apartment-->
            if (Model.MyType == PropertyType.Apartment)
            {
                <div>
                    <table cols="4"  class="wd100">
                        <tr>
                            <td colspan="4" class="captionName">
                                <b>@Model.CaptionLink</b>
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="5">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="/Image/Thumbnail/@Model.idPicture"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>@Model.OperationType , ціна:<b>
                                @if (Model.OperationType == "оренда")
                                {
                                    @Model.GrnPrice<span>грн.</span>
                                }
                                else
                                {
                                    @Model.DollarPrice
                                    <span>у.о.</span>
                                }
                            </b>

                            </td>
                            <td>код об'яви <b> № @Model.Id </b> </td>
                           
                        </tr>

                        <tr><td colspan="2"> @Model.Village, @Model.Region</td></tr>
                       
                        <tr>
                            <td colspan="3">
                                загальна площа:<b>@Model.TotalAreaInfo m<sup>2</sup></b>
                            </td>
                        </tr>
                    </table>

                    <p class="descriptiObj">
                        <label class="colorRed"><b> Опис об'єкту:</b></label><br>
                        @Html.TextAreaFor(model => model.InfoDetails, 4, 95, new {htmlAttributes = new {@class = "form-control"}})
                    </p>

                    <table>

                        <tr> <td colspan="4" class="tx-al-c bg-col-table" ><b>Детальна інформація по квартирі</b></td></tr>
                        <tr>
                            <td>Готовність до заселення: </td>
                            <td colspan="3">@Model.ReadinessApartment</td>
                        </tr>
                        <tr>
                            <td> Стан квартири: </td>
                            <td colspan="3">@Model.ConditionOfApartment</td>
                        </tr>
                        <tr>
                            <td>Загальна кількість поверхів:</td>
                            <td colspan="3">@Model.TotalFloor</td>
                        </tr>
                        <tr>
                            <td>Поверх квартири</td>
                            <td colspan="3">@Model.FloorApartment</td>
                        </tr>
                        <tr>
                            <td>Тип кімнат:</td>
                            <td colspan="3">@Model.RoomType</td>
                        </tr>
                        <tr>
                            <td>Кількість кімнат:</td>
                            <td colspan="3">@Model.RoomsApartment</td>
                        </tr>
                        <tr>
                            <td>Тип ванної кімнати:</td>
                            <td colspan="3">@Model.BathRoomApartment</td>
                        </tr>
                        <tr>
                            <td>Наявність балкону</td>
                            <td colspan="3">@Model.BalconyApartment</td>
                        </tr>
                        <tr>
                            <td>Матеріал стін:</td>
                            <td colspan="3">@Model.WallMaterial</td>
                        </tr>
                        <tr>
                            <td>Матеріал підлоги:</td>
                            <td colspan="3">@Model.FloorMaterial</td>
                        </tr>
                        <tr>
                            <td>Площа кухні:</td>
                            <td colspan="3">@Model.KitchenAreaApartment  m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Житлова площа</td>
                            <td colspan="3">@Model.LivingAreaApartment m<sup>2</sup></td>
                        </tr>


                        <!--додаткове обладнання -->
                        <tr> <td colspan="4" class="bg-col-table tx-al-c"><b>Додаткове обладнання</b></td></tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Boiler)Бойлер</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Intercom)Домофон</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CableTv)Кабельне телебачення</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.FirePlace)Камін</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Air)Кондіціонер</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Furniture)Меблі</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Signaling)Сигналізація</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.SatelliteTv)Супутникове телебачення</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.WashingMachine)Пральна машинка</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.WashingMachine)Пральна машинка</td>
                        </tr>

                    </table>
                </div>
                
            }

            <!--House-->

            if (Model.MyType == PropertyType.House)
            {
                <div>
                    <table cols="4" class="wd100">
                        <tr>
                            <td colspan="4" class="captionName">
                                <p>
                                    <b>@Model.CaptionLink</b>
                                </p>
                            </td>
                        </tr>


                        <tr>
                            <td rowspan="5">
                                <table width="100">
                                    <tr>
                                        <td>
                                            <img src="/Image/Thumbnail/@Model.idPicture"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                        <tr>
                            <td>
                                @Model.OperationType,
                               
                                    ціна:<b>
                                        @if (Model.OperationType == "оренда")
                                        {
                                            @Model.GrnPrice
                                            <span>грн.</span>
                                        }
                                        else
                                        {
                                            @Model.DollarPrice<span>у.о.</span>
                                        }
                                    </b>

                            </td>
                            <td class="fp">
                                код об'яви <b> № @Model.Id </b>
                            </td>

                        </tr>

                        <tr><td colspan="2">@Model.Village, @Model.Region </td></tr>
                        <tr><td colspan="2"> загальна площа: <b>@Model.TotalAreaInfo m <sup>2</sup></b></td></tr>
                        
                    </table>

                    <p class="descriptiObj">
                        <label class="colorRed"><b> Опис об'єкту:</b></label><br>
                        @Html.TextAreaFor(model => model.InfoDetails, 4, 95, new { htmlAttributes = new { @class = "form-control" } })
                    </p>

                    <table>
                        <!--детальна інформація -->
                        <tr>
                            <td colspan="4" class="bg-col-table tx-al-c">
                                <b>Детальна інформація</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Готовність до заселення:</td>
                            <td colspan="2">@Model.ReadinessHouse</td>
                        </tr>
                        <tr>
                            <td colspan="2">Тип будинку:</td>
                            <td colspan="2">@Model.TypeHouse</td>
                        </tr>
                        <tr>
                            <td colspan="2">Кількість поверхів:</td>
                            <td colspan="2">@Model.FloorHouse</td>
                        </tr>
                        <tr>
                            <td colspan="2">Частина будинку:</td>
                            <td colspan="2">@Model.PartHouse</td>
                        </tr>
                        <tr>
                            <td colspan="2">Кількість кімнат:</td>
                            <td colspan="2">@Model.RoomsHouse</td>
                        </tr>
                        <tr>
                            <td colspan="2">Матеріал підлоги:</td>
                            <td colspan="2">@Model.FloorMaterial</td>
                        </tr>
                        <tr>
                            <td colspan="2">Матеріал стін:</td>
                            <td colspan="2">@Model.WallMaterial</td>
                        </tr>
                        <tr>
                            <td colspan="2"> Площа кухні:</td>
                            <td colspan="2">@Model.KitchenAreaHouse</td>
                        </tr>
                        <tr>
                            <td colspan="2">Житлова площа:</td>
                            <td colspan="2">@Model.LivingAreaHouse</td>
                        </tr>
                        <tr>
                            <td colspan="2">Площа прилягаючої земельної ділянки:</td>
                            <td colspan="2">@Model.LandAreaHouse</td>
                        </tr>

                        <!--додаткове обладнання -->
                        <tr> <td colspan="4" class="bg-col-table tx-al-c"><b>Додаткове обладнання</b></td></tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Boiler)Бойлер</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Intercom)Домофон</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CableTv)Кабельне телебачення</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.FirePlace)Камін</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Air)Кондіціонер</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Furniture)Меблі</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Signaling)Сигналізація</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.SatelliteTv)Супут.телеб.</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="tx-al-c">@Html.CheckBoxFor(model => model.WashingMachine)Пральна машинка</td>

                        </tr>
                        <tr>
                            <td><p></p></td>
                        </tr>



                        <tr>
                            <td colspan="4" class="bg-col-table tx-al-c"><b>Надвірні побудови:</b> </td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.BahtHouse) Баня</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Swimming)Басейн</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Garage)Гараж</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Well)Колодязь</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.SummerKitchen)Літня кухня</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.WorkShop)Майстерня</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Barn)Сарай</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Well1) Скважина</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="tx-al-c">@Html.CheckBoxFor(model => model.GreenHouse)Теплиця</td>
                        </tr>
                        <tr>
                            <td><p></p></td>
                        </tr>

                        <!--Коммунікації-->
                        <tr>
                            <td colspan="4" class="bg-col-table tx-al-c"><b>Коммунікації</b></td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Gas)Газ</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Electricity)Електроенергія</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CentralSewerage)Центр.каналізація</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.AutonomousSewerage)Авт.каналізація</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CentralWater)Центр.водопостачання</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.AutonomousWater)Авт.водопост.</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CentralHeating)Центральне отоплення</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.AutonomusHeating)Авт.опалення </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="tx-al-c">@Html.CheckBoxFor(model => model.RailWay)Залізнична дорога</td>
                        </tr>
                        <tr>
                            <td><p></p></td>
                        </tr>

                    </table>
                </div>
                
            }

            <!--Commercial -->
            if (Model.MyType == PropertyType.Commercial)
            {
                <div>
                    <table cols="4" class="wd100">
                        <tr>
                            <td colspan="4" class="captionName">
                                <p><b>@Model.CaptionLink</b>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="/Image/Thumbnail/@Model.idPicture"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>

                        <tr>
                            <td> @Model.OperationType
                                ціна:<b>
                                    @if (Model.OperationType == "оренда")
                                    {
                                        @Model.GrnPrice
                                        <span> грн.</span>
                                    }
                                    else
                                    {
                                        @Model.DollarPrice
                                        <span>у.о.</span>

                                    }
                                </b>

                            </td>
                            <td class="tx-al-r">
                                код об'яви <b> № @Model.Id </b>
                            </td>
                        </tr>

                        <tr><td colspan="2"> @Model.Village , @Model.Region </td></tr>
                        <tr>
                            <td colspan="3">
                                загальна площа: <b>@Model.TotalAreaInfo m <sup>2</sup></b>
                            </td>
                        </tr>
                    </table>

                    <p class="descriptiObj">
                        <label class="colorRed"><b> Опис об'єкту:</b></label><br>
                        @Html.TextAreaFor(model => model.InfoDetails, 4, 95, new { htmlAttributes = new { @class = "form-control" } })
                    </p>
                    <table>
                        <!--детальна інформація -->
                        <tr>
                            <td colspan="4" class="bg-col-table tx-al-c">
                                <b>Детальна інформація</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Тип комерційної нерухомості:</td>
                            <td colspan="2">@Model.TypeCommercial</td>
                        </tr>
                        <tr>
                            <td colspan="2">Стан:</td>
                            <td colspan="2">@Model.StateCommercial</td>
                        </tr>
                        <tr>
                            <td colspan="2">Загальна кількість поверхів:</td>
                            <td colspan="2">@Model.TotalFloorCommercial</td>
                        </tr>
                        <tr>
                            <td colspan="2">Поверх:</td>
                            <td colspan="2">@Model.FloorCommercial</td>
                        </tr>
                        <tr>
                            <td colspan="2">Ефективна площа використання </td>
                            <td colspan="2">@Model.EffectiveAreaCommercial m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td colspan="2">Матеріал підлоги:</td>
                            <td colspan="2">@Model.FloorMaterial</td>
                        </tr>
                        <tr>
                            <td colspan="2">Матеріал стін:</td>
                            <td colspan="2">@Model.WallMaterial</td>
                        </tr>
                        <tr>
                            <td colspan="2"> Площа прилягаючої земельної ділянк:</td>
                            <td colspan="2">@Model.LandAreaCommercial Га</td>
                        </tr>


                        <!--додаткове обладнання -->
                        <tr> <td colspan="4" class="bg-col-table tx-al-c"><b>Додаткове обладнання</b></td></tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Boiler)Бойлер</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Intercom)Домофон</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CableTv)Кабельне телебачення</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.FirePlace)Камін</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Air)Кондіціонер</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Furniture)Меблі</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Signaling)Сигналізація</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.SatelliteTv)Супутникове телебачення</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="tx-al-r">@Html.CheckBoxFor(model => model.WashingMachine)Пральна машинка</td>

                        </tr>
                        <tr>
                            <td><p></p></td>
                        </tr>


                        <!--Коммунікації-->
                        <tr>
                            <td colspan="4" class="bg-col-table tx-al-c"><b>Коммунікації</b></td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Gas)Газ</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Electricity)Електроенергія</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CentralSewerage)Центральна каналізація</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.AutonomousSewerage)Автономна каналізація</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CentralWater)Центральне водопостачання</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.AutonomousWater)Автономне водопостачання</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CentralHeating)Центральне отоплення</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.AutonomusHeating)Автономне опалення </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="tx-al-c">@Html.CheckBoxFor(model => model.RailWay)Залізнична дорога</td>
                        </tr>
                        <tr>
                            <td><p></p></td>
                        </tr>

                    </table>
                </div>
            }

            <!--Land -->
            if (Model.MyType == PropertyType.Land)
            {
                <div>
                    <table cols="4" class="wd100">
                        <tr>
                            <td colspan="4" class="captionName">
                                <p>
                                    <b>@Model.CaptionLink</b>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="/Image/Thumbnail/@Model.idPicture"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                @Model.OperationType,
                                ціна:<b>
                                    @if (Model.OperationType == "оренда")
                                    {
                                        @Model.GrnPrice
                                        <span> грн.</span>
                                    }
                                    else
                                    {
                                        @Model.DollarPrice
                                        <span>у.о.</span>

                                    }
                                </b>

                            </td>
                            <td class="tx-al-r">
                                код об'яви <b> № @Model.Id </b>
                            </td>
                        </tr>

                        <tr><td colspan="2"> @Model.Village , @Model.Region </td></tr>
                        <tr>
                            <td colspan="3">
                                загальна площа: <b>@Model.TotalAreaInfo m <sup>2</sup></b>
                            </td>
                        </tr>
                    </table>

                    <p class="descriptiObj">
                        <label class="colorRed"><b> Опис об'єкту:</b></label><br>
                        @Html.TextAreaFor(model => model.InfoDetails, 4, 95, new { htmlAttributes = new { @class = "form-control" } })
                    </p>

                    <table>

                        <tr> <td colspan="4" style="text-align: center; background-color:#C9D8EA"><b>Детальна інформація по земельній ділянці</b></td></tr>
                        <tr>
                            <td>Призначення земельної ділянки: </td>
                            <td colspan="3">@Model.TypeLand</td>
                        </tr>



                        <!--додаткове обладнання -->
                        <tr> <td colspan="4" style="background-color: #C9D8EA; text-align: center"><b>Комунікації</b></td></tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Gas)Газ</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.RailWay)Залізнична колія</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CentralSewerage)Центральна каналізація</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CentralHeating)Центральне опалення</td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.CheckBoxFor(model => model.CentralWater)Центральне водопостачання</td>
                            <td colspan="2">@Html.CheckBoxFor(model => model.Electricity)Електронергія</td>
                        </tr>


                    </table>


                </div>                
            }


        }

        else
        {
            <div class="resultSearchId">
                <p>Об'єкт з таким Id за результатами пошуку відсутній </p>
            </div>
        }
    </section>
</div>


