<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
            <!-- header page -->
            
                <header>
                    <h3>Адміністративна панель</h3>
                </header>
         
            <!-- end header page-->


            <!-- новигация  -->
            <nav id="nav">
                <ul>

                    <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                    <li>@Html.ActionLink("Квартири", "Index", "ApartmentInput")</li>
                    <li>@Html.ActionLink("Будинки", "Index", "HouseInput")</li>
                    <li>@Html.ActionLink("Комерційна нерухомість", "Index", "CommercialInput")</li>
                    <li>@Html.ActionLink("Земля", "Index", "LandInput")</li>

                </ul>
            </nav>
            <!--end новигация -->

            <main id="main" role="main">

            
            @RenderBody()
            </main>



            <footer id="footer">
                <!-- иконки социальные сети  -->
                <article class="icons">
           
                </article>
                <!-- end социальные сети-->
            </footer>

</body>
</html>




