<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <!-- header page -->
    <div>
        <header id="header">

            <article>
                <div class="logo">
                    <img src="../Image/small_logo.JPG">
                </div>
                <div class="logo_1">
                    <img src="../Image/logo_z.jpg">
                </div>
                <div class="telephone">
                    <p>+38(067)984-80-96</p>
                    <p class="schedule"> Пн- Пт с 09:00 до 18:00 </p>
                    <p class="schedule"> (Сб-Нд по домовленності)</p>
                </div>
            </article>
        </header>
    </div>
    <!-- end header page-->
    <!-- новигация  -->
    <nav id="nav">
        <ul>

            <li>@Html.ActionLink("Головна", "Index", "Home")</li>
            <li>@Html.ActionLink("Послуги", "Services", "Home")</li>

            <li><a href="kredit.html">Кредитування</a></li>
            <li><a href="contact.html">Контактна інформація</a></li>
            <li><a href="about.html">Про нас</a></li>

            <li>@Html.ActionLink("Реєстрація/Вхід", "InputApartmentForm", "Home")</li>
        </ul>
    </nav>
    <!--end новигация -->
    <main id="main" role="main">

        <!--сайд бар рубрики -->
        <aside id="sidebar">
            <h2>Розділи:</h2>
            <ul>
                <li class="stolb">@Html.ActionLink("Квартири", "ApartmentForm", "Home")</li>
                <li class="stolb"> @Html.ActionLink("Будинки", "HouseForm", "Home") </li>
                <li class="stolb">@Html.ActionLink("Комерційна нерухомість", "CommercialForm", "Home") </li>
                <li class="stolb"> @Html.ActionLink("Земельні ділянки", "LandForm", "Home")</li>
            </ul>

            <h2>Курси валют</h2>
            <p>

                <label class="valuta">$</label>
                <input class="valuta" type="radio" value="dollar" checked="" name="valuta">
                <a class="nevedimka" id="dollar" href="http://finance.i.ua/" target="_blank"><img src="http://f.i.ua/fp11_b15_c0_l1.png" border="0" alt="Курс долара"></a>

                <label class="valuta">€</label>
                <input class="valuta" type="radio" value="evro" name="valuta">
                <a class="nevedimka" id="evro" href="http://finance.i.ua/" target="_blank"><img src="http://f.i.ua/fp13_b15_c2_l1.png" border="0" alt="Курс євро"></a>

            </p>

        </aside>
        <!--end сайд бар рубрика -->
        @RenderBody()
    </main>
    <footer id="footer">
        <!-- иконки социальные сети  -->
        <article class="icons">
            <a href="https://www.facebook.com/ANzatyshok/" target="_blank">
                <img src="../Image/image_fb.jpg" alt="Ми на Facebook">
            </a>
        </article>
        <!-- end социальные сети-->
    </footer>

</body>
</html>




