
@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <!-- header page -->
    <div>
        <header id="header">

            <article>
                <div class="logo">
                    <img src="../Image/small_logo.JPG">
                </div>
                <div class="logo_1">
                    <img src="../Image/logo_z.jpg">
                </div>
                <div class="telephone">
                    <p>+38(067)984-80-96</p>
                    <p class="schedule"> Пн- Пт с 09:00 до 18:00 </p>
                    <p class="schedule"> (Сб-Нд по домовленності)</p>
                </div>
            </article>
        </header>
    </div>
    <!-- end header page-->
    <!-- новигация  -->
    <nav id="nav">
        <ul>
            <li>@Html.ActionLink("Головна", "Index", "Home")</li>
            <li>@Html.ActionLink("Послуги", "Index", "Home")</li>

            <li><a href="kredit.html">Кредитування</a></li>
            <li><a href="contact.html">Контактна інформація</a></li>
            <li><a href="about.html">Про нас</a></li>
        </ul>
    </nav>
    <!--end новигация -->


    <main id="main" role="main">

        <!-- форма выборки   -->
        <section id="form">
            <h2 class="select">Будинки</h2>

            <form action="">
                <p>Райони: </p>
                <p>
                    @Html.DropDownList("Region", ViewBag.regionName as SelectList)
                </p>
                <p>Населені пункти: </p>
                <p>
                    @Html.DropDownList("Village", ViewBag.villageName as SelectList)
                </p>

                <p>Тип операції:</p>
                <p>
                    <select name="OperationType" class="room_type" required>
                        <option value="0">Оренда</option>
                        <option value="1">Продаж</option>
                    </select>
                </p>

                <fieldset>
                    <legend>Будинок</legend>
                    <p>
                        <label>Тип:</label>
                        <select class="house_type" type="text" name="????????" id="house_type" required>
                            <option value="0">Будинок</option>
                            <option value="1">Котедж</option>
                            <option value="2">Літній будинок </option>
                        </select>
                    </p>
                    <p>
                        <label>Частина:</label>
                        <select class="house_part" type="text" name="?????????" id="house_part" required>
                            <option value="0">1</option>
                            <option value="1">1/2</option>
                            <option value="2">1/3</option>
                            <option value="3">1/4</option>
                            <option value="4">1/5</option>
                            <option value="5">2/3</option>
                            <option value="6">2/5</option>
                        </select>
                    </p>
                </fieldset>

                <fieldset>
                    <legend>Вартість</legend>

                    <p>
                        <label>від</label>
                        <input class="number_price" type="number" placeholder="1000" min="1000" name="GrnCostFrom" size="3" maxlength="3" width="20">
                        <label>до</label>
                        <input class="number_price" type="number" min="1000" max="500000" placeholder="500000" name="GrnCostTo" size="3">
                        <label>GRN</label>
                    </p>
                    <p>
                        <label>від</label>
                        <input class="number_price" type="number" placeholder="1000" min="1000" name="DollarCostFrom" size="3" maxlength="3" width="20">
                        <label>до</label>
                        <input class="number_price" type="number" min="1000" max="250000" placeholder="250000" name="DollarCostTo" size="3">
                        <label>$</label>
                    </p>

                </fieldset>
                <p>
                    <!-- <input class="button" type="reset" name="" value="Очистити"> -->
                    <input class="button" type="submit" name="search" value="Пошук">
                </p>
            </form>
            <h2>Курси валют</h2>
            <p>

                <label class="valuta">$</label>
                <input class="valuta" type="radio" value="dollar" checked="" name="valuta">
                <a class="nevedimka" id="dollar" href="http://finance.i.ua/" target="_blank"><img src="http://f.i.ua/fp11_b15_c0_l1.png" border="0" alt="Курс долара"></a>

                <label class="valuta">€</label>
                <input class="valuta" type="radio" value="evro" name="valuta">
                <a class="nevedimka" id="evro" href="http://finance.i.ua/" target="_blank"><img src="http://f.i.ua/fp13_b15_c2_l1.png" border="0" alt="Курс євро"></a>

            </p>

        </section>
        <!--end форма выборки   -->


        @RenderBody()

    </main>
    <footer id="footer">
        <!-- иконки социальные сети  -->
        <article class="icons">
            <a href="https://www.facebook.com/ANzatyshok/" target="_blank">
                <img src="../Image/image_fb.jpg" alt="Ми на Facebook">
            </a>
        </article>
        <!-- end социальные сети-->
    </footer>

</body>
</html>




