@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <!-- header page -->
    <div>
        <header id="header">

            <article>
                <div class="logo">
                    <img src="/Image/small_logo.JPG"/>
                </div>
                <div class="logo_1">
                    <img src="/Image/logo_z.jpg"/>
                </div>
                <div class="logo_2">
                   <img src="/Image/photoLogo3.jpg"/>
                </div>
            </article>
        </header>
    </div>
    <!-- end header page-->
    <!-- новигация  -->
    <nav id="nav">
        <ul>
            <li>@Html.ActionLink("Головна", "Index", "Home")</li>
            <li>@Html.ActionLink("Послуги", "Services", "Home")</li>
            <li>@Html.ActionLink("Кредитування", "Kredit", "Home")</li>
            <li>@Html.ActionLink("Контактна інформація", "MyContact", "Home")</li>
            <li>@Html.ActionLink("Про Нас", "MyAbout", "Home")</li>
            <li>@Html.ActionLink("Вхід Адміністратора", "Index", "Administrator")</li>
        </ul>
    </nav>
    <!--end новигация -->
    <main id="main" role="main" >

        <!-- форма выборки   -->
        <section >
           
                <form method="POST" action="/Apartment/Index">
                    <p style="float: left">
                       <b style="color: red">пошук :</b> @Html.DropDownList("Region", ViewBag.regionName as SelectList)
                        @Html.DropDownList("Village", ViewBag.villageName as SelectList)
                    </p>
                    <p style="float: left; margin-left: 5px">

                        <select class="room_type" name="TypeRoom">
                            <option >тип кімнат</option>
                            <option value="окремі">окремі</option>
                            <option value="суміжні">суміжні</option>
                            <option value="комбіновані">комбіновані</option>
                        </select>
                    </p>
                    <p style="float: left;margin-left: 5px">
                        <select class="room_quantity" name="RoomsApartment">
                            <option value="">кількість кімнат</option>
                            <option value="1-но кімнатна">1 кімната</option>
                            <option value="2-во кімнатна">2 кімнати</option>
                            <option value="3-ри кімнатна">3 кімнати</option>
                            <option value="4-х кімнатна">4 кімнати</option>
                            <option value="5 кімат і більше">5 кімат і більше</option>
                        </select>
                    </p>
                    <p style="float: left;" >
                        <input type="radio" name="OperationType" checked value="продаж" /><span>продаж</span>
                        <input class="nevedimkaRent" type="number" id="dol" min="500" max="1000000" placeholder="ціна в доларах" name="DollarCostTo" size="3">
                        <input type="radio" value="оренда" name="OperationType" /><span>оренда</span>
                        <input class="nevedimkaRent" type="number" id="grn" min="500" max="70000" placeholder="ціна в гривні " name="GrnCostTo" size="3">
                    </p>

                    <p style="float: left">
                        <!-- <input class="button" type="reset" name="" value="Очистити"> -->
                        <input class="buttonSearch  " style="float: right; width: 50px; height: 50px;" type="image" name="submit" src="../../Image/search.png" value="Пошук">
                    </p>
                </form>
        </section>
        <!--end форма выборки   -->


        @RenderBody()

    </main>
<footer id="footer">
    <article class="searchId">
        <form method="GET" action="/Apartment/IdOutPutDetailsInfoApartment">
            код №
            <input type="number" name="id" />
            <input type="submit" value="пошук" />
        </form>

    </article>
    <!-- иконки социальные сети -->
    <article class="icons">
        <a href="https://www.facebook.com/ANzatyshok/" target="_blank">
            <img src="/Image/image_fb.jpg" alt="Ми на Facebook"/>
        </a>
    </article>
    <!-- end социальные сети-->
</footer>

</body>
</html>





