@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <!-- header page -->
    <div>
        <header id="header">

            <article>
                <div class="logo">
                    <img src="/Image/small_logo.JPG">
                </div>
                <div class="logo_1">
                    <img src="/Image/logo_z.jpg">
                </div>
                <div class="telephone">
                    <p>+38(067)984-80-96</p>
                    <p class="schedule"> Пн- Пт с 09:00 до 18:00 </p>
                    <p class="schedule"> (Сб-Нд по домовленності)</p>
                </div>
            </article>
        </header>
    </div>
    <!-- end header page-->
    <!-- новигация  -->
    <nav id="nav">
        <ul>
            <li>@Html.ActionLink("Головна", "Index", "Home")</li>
            <li>@Html.ActionLink("Послуги", "Index", "Home")</li>
            <li>@Html.ActionLink("Кредитування", "Kredit", "Home")</li>
            <li>@Html.ActionLink("Контактна інформація", "MyContact", "Home")</li>
            <li>@Html.ActionLink("Про Нас", "MyAbout", "Home")</li>
            <li>@Html.ActionLink("Вхід Адміністратора", "Index", "Administrator")</li>
        </ul>
    </nav>
    <!--end новигация -->
    <main id="main" role="main">

        <!-- форма выборки   -->
        <section  >
            

            <form method="POST" action="/Commercial/Index">

                <p style="float: left; ">
                    місце:<span style="color: red;">@Html.DropDownList("Region", ViewBag.regionName as SelectList)</span> 
                    @Html.DropDownList("Village", ViewBag.villageName as SelectList)
                </p>
                <p style="float: left;"> призначення
                    <select class="commercial_type" name="TypeCommercial" required>
                        <option value="офісно-адміністративне">офісно-адміністративне</option>
                        <option value="виробниче">виробниче</option>
                        <option value="складське">складське</option>
                        <option value="торгове">торгове</option>
                        <option value="розважальне">розважальне</option>
                        <option value="гараж">гараж</option>
                        <option value="вільне призначення">вільне призначення</option>
                    </select>
                </p>
                <p style="float: left;">
                    <input type="radio" name="TypeOperation" checked value="продаж"/><span>продаж</span>
                    <input class="nevedimkaRent"  type="number" id="dol" min="1000" max="250000" placeholder="ціна в доларах" name="DollarPriceTo" size="3">
                    <input type="radio" value="оренда" name="TypeOperation" /><span>оренда</span>
                    <input class="nevedimkaRent"   type="number" id="grn" min="1000" max="500000" placeholder="ціна в гривні " name="GrnPriceTo" size="3">
               </p>
                <p >
                    <!-- <input class="button" type="reset" name="" value="Очистити"> -->
                    <input class="buttonSearch  " style="float: right; width:50px; height: 50px; " type="image" name="submit" src="../../Image/search.png" value="Пошук">
                </p>
            </form>
           

        </section>
        <!--end форма выборки   -->


        @RenderBody()

    </main>
<footer id="footer">
    <article class="searchId">
        <form method="GET" action="/Commercial/IdOutPutDetailsInfo">
            пошук по Id
            <input type="number" name="id" />
            <input type="submit" value="пошук" />
        </form>

    </article>
    <!-- иконки социальные сети -->
    <article class="icons">
        <a href="https://www.facebook.com/ANzatyshok/" target="_blank">
            <img src="/Image/image_fb.jpg" alt="Ми на Facebook">
        </a>
    </article>
    <!-- end социальные сети-->
</footer>

</body>
</html>




