@model NLayerApp.BusinessLogicLayer.Models.ApartmentDetailsInfoViewModel
@{
    ViewBag.Title = "IdOutPutDetailsInfoApartment";
    Layout = "~/Views/Shared/_SearchApartmentForm.cshtml";
}


<div class="idDetailsInfo">
    @if ((Model?.Id ?? 0) > 0)
    {
        <h2>Детальна інформація по квартирі </h2>

        <table cols="4" class="wd100">
            <tr>
                <td colspan="4" class="tx-al-c captionName">
                    <b>@Model.CaptionLink</b>
                </td>
            </tr>
            <tr>
                <td rowspan="5">
                    <table>
                        <tr>
                            <td>
                                <img src="../../Image/apartment.jpg" />
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>

            <tr>
                <td>
                    @Model.OperationType, <b>
                    ціна:
                    @if (Model.OperationType == "оренда")
                    {
                        @Model.GrnPrice
                        <span>грн.</span>
                    }
                    else
                    {
                        @Model.DollarPrice<span>у.о.</span>
                    }
                </b>
            </td>
            <td class="tx-al-r">
                код об'яви <b> № @Model.Id </b>
            </td>
        </tr>

        <tr><td> @Model.Village, @Model.Region</td>  </tr>

        <tr>
            <td colspan="3">
                загальна площа:<b>@Model.TotalAreaInfo m<sup>2</sup></b>
            </td>

        </tr>

    </table>
        <p>
            <label class="descriptiObj"><b class="colorRed">Опис об'єкту:</b></label><br>
            @Html.TextAreaFor(model => model.InfoDetails, 4, 115, new { htmlAttributes = new { @class = "form-control" } })
        </p>

        <table class="wd60">

            <tr> <td colspan="4" class="bg-col-table tx-al-c"><b>Детальна інформація по квартирі</b></td></tr>
            <tr>
                <td>Готовність до заселення: </td>
                <td colspan="3">@Model.ReadinessApartment</td>
            </tr>
            <tr>
                <td> Стан квартири: </td>
                <td colspan="3">@Model.ConditionOfApartment</td>
            </tr>
            <tr>
                <td>Загальна кількість поверхів:</td>
                <td colspan="3">@Model.TotalFloor</td>
            </tr>
            <tr>
                <td>Поверх квартири</td>
                <td colspan="3">@Model.FloorApartment</td>
            </tr>
            <tr>
                <td>Тип кімнат:</td>
                <td colspan="3">@Model.RoomType</td>
            </tr>
            <tr>
                <td>Кількість кімнат:</td>
                <td colspan="3">@Model.RoomsApartment</td>
            </tr>
            <tr>
                <td>Тип ванної кімнати:</td>
                <td colspan="3">@Model.BathRoomApartment</td>
            </tr>
            <tr>
                <td>Наявність балкону</td>
                <td colspan="3">@Model.BalconyApartment</td>
            </tr>
            <tr>
                <td>Матеріал стін:</td>
                <td colspan="3">@Model.WallMaterial</td>
            </tr>
            <tr>
                <td>Матеріал підлоги:</td>
                <td colspan="3">@Model.FloorMaterial</td>
            </tr>
            <tr>
                <td>Площа кухні:</td>
                <td colspan="3">@Model.KitchenAreaApartment  m<sup>2</sup></td>
            </tr>
            <tr>
                <td>Житлова площа</td>
                <td colspan="3">@Model.LivingAreaApartment m<sup>2</sup></td>
            </tr>


            <!--додаткове обладнання -->
            <tr> <td colspan="4" class="bg-col-table tx-al-c"><b>Додаткове обладнання</b></td></tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.Boiler)Бойлер</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.Intercom)Домофон</td>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.CableTv)Кабельне телебачення</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.FirePlace)Камін</td>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.Air)Кондіціонер</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.Furniture)Меблі</td>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.Signaling)Сигналізація</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.SatelliteTv)Супутникове телебачення</td>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.WashingMachine)Пральна машинка</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.WashingMachine)Пральна машинка</td>
            </tr>

        </table>
    }

</div>
