@using NLayerApp.DataAccessLayer.Domains.Models
@using NLayerApp.WEB.Controllers
@model List<NLayerApp.BusinessLogicLayer.Models.ApartmentViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SearchApartmentForm.cshtml";
}

<div class="idDetailsInfo">
    @if ((Model?.Count ?? 0) > 0)
    {
        //когда просто открывается страница (метода ж два, а вьюха одна) то модель пустая а ты это не обработал
        //это то же что если то что в скобках считать за метод то это тоже что и:
        //if (Model != null)
        //{
        //    return Model.Count;
        //}
        //return 0;
        //или Model != null ? Model.Count : 0;
        <h2>Знайдені квартири</h2>

        <table class="tablCentr wd100" border="1" cols="4" >

            
            @foreach (var b in Model)
            {
                <tr>
                    <td rowspan="3">@b.Id</td>
                    <td rowspan="3">
                        <table width="100">
                            <tr>
                                <td>

                                    <img src="/Image/Thumbnail/@b.IdPicture" />
                                    
                                    @*second variant*@ 
                                    @*@Html.Raw("<img style = 'width:80px; height:60px;' " + " src =\"data:image/jpeg;base64," + Convert.ToBase64String(b.Image) + "\" />")*@
                                 </td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="2">
                        
                            @*@((ApartmentController)this.ViewContext.Controller).OutDetailsInfoApartment(@b.Id);
                       
                            http://localhost:56522/Apartment/OutDetailsInfoApartment/@b.Id*@
                       
                         <a href="/Apartment/OutDetailsInfoApartment/@b.Id" class="captionLink"><b>@b.CaptionLink</b></a>
                    </td>
                </tr>
                <tr>

                    <td class="tx-al-c"> @b.OperationType, <b>ціна:
                        @if (b.OperationType == "оренда")
                        {
                            @b.GrnPrice<span>грн.</span>
                        }
                        else
                        {
                            @b.DollarPrice
                            <span>у.о.</span>
                        }
                    </b></td>
                    <td class="tx-al-c">@b.Village , @b.Region</td>
                </tr>

                <tr><td colspan="2">кіль-ть поверхів: @b.TotalFloorApartment <b class="colorBlue">|</b>
                    матеріал стін: @b.WallMaterial <b class="colorBlue">|</b> матеріал підлоги:@b.FloorMaterial <b class="colorBlue">|</b> @b.Floor <b class="colorBlue">|</b> 
                    загальна площа: @b.TotalAreaInfo m<sup>2</sup> </td></tr>
            }
        </table>
    }
    else
    {
        <div>
            <img  src="../../Image/apartmFormSearch.jpg" />
        </div>
    }

</div>

