@model NLayerApp.BusinessLogicLayer.Models.ApartmentDetailsInfoViewModel
@{
    ViewBag.Title = "OutDetailsInfo";
    Layout = "~/Views/Shared/_SearchApartmentForm.cshtml";
}

<div class="idDetailsInfo">
    @if ((Model?.Id ?? 0) > 0)
    {
        <h2>Детальна інформація по квартирі </h2>

        <table cols="4" style="width: 780px; ">
            <tr>
                <td colspan="4" style="text-align: center">
                    <b>@Model.CaptionLink</b>
                </td>
            </tr>
            <tr>
                <td rowspan="5">
                    <table width="100">
                        <tr>
                            <td>
                                <img src="../../Image/apartment.jpg"/>
                            </td>
                        </tr>
                    </table>
                </td>
               
            </tr>

            <tr>
                <td>Тип операції:<b>@Model.OperationType</b></td>
                <td style="text-align: right"><b>ціна:
                    @if (Model.OperationType == "оренда")
                    {
                        @Model.GrnPrice <span>грн.</span> 
                    }
                    else
                    {
                        @Model.DollarPrice<span>у.о.</span> 
                    }
                     </b></td>
            </tr>

            <tr><td colspan="2"> Населений пункт: @Model.Village</td></tr>
            <tr><td colspan="2">Район: @Model.Region </tr>
            <tr>
                <td style="font-size: 18px;" colspan="3">
                    Загальна площа:<b>@Model.TotalAreaInfo m<sup>2</sup></b> 
                </td>

            </tr>
            


        </table>
        <p>
            <label style="color: crimson; font-size: 15px; font-style:inherit;"><b>Детальний опис:</b></label><br>
            @Html.TextAreaFor(model => model.InfoDetails, 5, 40, new {htmlAttributes = new {@class = "form-control"}})
        </p>
        <table>

            <tr> <td colspan="4" style="text-align: center; background-color:#C9D8EA"><b>Детальна інформація по квартирі</b></td></tr>
            <tr>
                <td>Готовність до заселення: </td>
                <td colspan="3">@Model.ReadinessApartment</td>
            </tr>
            <tr>
                <td> Стан квартири: </td>
                <td colspan="3">@Model.ConditionOfApartment</td>
            </tr>
            <tr>
                <td>Загальна кількість поверхів:</td>
                <td colspan="3">@Model.TotalFloor</td>
            </tr>
            <tr>
                <td>Поверх квартири</td>
                <td colspan="3">@Model.FloorApartment</td>
            </tr>
            <tr>
                <td>Тип кімнат:</td>
                <td colspan="3">@Model.RoomType</td>
            </tr>
            <tr>
                <td>Кількість кімнат:</td>
                <td colspan="3">@Model.RoomsApartment</td>
            </tr>
            <tr>
                <td>Тип ванної кімнати:</td>
                <td colspan="3">@Model.BathRoomApartment</td>
            </tr>
            <tr>
                <td>Наявність балкону</td>
                <td colspan="3">@Model.BalconyApartment</td>
            </tr>
            <tr>
                <td>Матеріал стін:</td>
                <td colspan="3">@Model.WallMaterial</td>
            </tr>
            <tr>
                <td>Матеріал підлоги:</td>
                <td colspan="3">@Model.FloorMaterial</td>
            </tr>
            <tr>
                <td>Площа кухні:</td>
                <td colspan="3">@Model.KitchenAreaApartment  m<sup>2</sup></td>
            </tr>
            <tr>
                <td>Житлова площа</td>
                <td colspan="3">@Model.LivingAreaApartment m<sup>2</sup></td>
            </tr>


            <!--додаткове обладнання -->
            <tr> <td colspan="4" style="background-color: #C9D8EA; text-align: center"><b>Додаткове обладнання</b></td></tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.Boiler)Бойлер</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.Intercom)Домофон</td>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.CableTv)Кабельне телебачення</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.FirePlace)Камін</td>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.Air)Кондіціонер</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.Furniture)Меблі</td>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.Signaling)Сигналізація</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.SatelliteTv)Супутникове телебачення</td>
            </tr>
            <tr>
                <td colspan="2">@Html.CheckBoxFor(model => model.WashingMachine)Пральна машинка</td>
                <td colspan="2">@Html.CheckBoxFor(model => model.WashingMachine)Пральна машинка</td>
            </tr>

        </table>
    }

</div>


