@model NLayerApp.BusinessLogicLayer.Models.ApartmentDetailsInfoViewModel
@{
    ViewBag.Title = "OutDetailsInfo";
    Layout = "~/Views/Shared/_SearchApartmentForm.cshtml";
}


<div class="my_container">
    <h2>Детальна інформація по квартирі </h2>
    <div class="my_row">
        <div class="my_cols my_col-12">
            @if ((Model?.Id ?? 0) > 0)
            {
                <div class="my_row">
                    <div class="my_cols my_col-12">
                        <div  class="colorBlue resultSearchApartmentCaption">
                            <b>@Model.CaptionLink</b>
                        </div>
                    </div>
                </div>
                <div class="my_row">
                    <div class="my_cols my_col-2">
                        <img src="/Image/Thumbnail/@Model.IdPicture" />
                    </div>
                    <div class="my_cols my_col-3">
                        <div class="my_row">
                            <div class="my_cols my_col-12">
                                <div class="resultDetailsInfoApartmentStartInfo">
                                    код об'яви <b> № @Model.Id </b>
                                </div>
                            </div>
                        </div>
                        <div class="my_row">
                            <div class="my_cols my_col-12">
                                <div class="resultDetailsInfoApartmentStartInfo">
                                    загальна площа:<b>@Model.TotalAreaInfo m<sup>2</sup></b>
                                </div>
                            </div>
                        </div>
                        <div class="my_row">
                            <div class="my_cols my_col-12">
                                <div class="resultDetailsInfoApartmentStartInfo">
                                    @Model.OperationType, <b>
                                        ціна:
                                        @if (Model.OperationType == "оренда")
                                        {
                                            @Model.GrnPrice
                                            <span>грн.</span>
                                        }
                                        else
                                        {
                                            @Model.DollarPrice<span>у.о.</span>
                                        }
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="my_row">
                            <div class="my_cols my_col-12">
                                <div class="resultDetailsInfoApartmentStartInfo">
                                    @Model.Village, @Model.Region
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my_cols my_col-7">
                        <p class="resultDetailsInfoApartmentDescribe" >
                            @Html.TextAreaFor(model => model.InfoDetails, 3, 90,  new { @class = "form-control", style="font-weight:bold; font-size:0.9em; width:100%;" } )
                        </p>
                    </div>
                </div>
                <div class="my_row">
                    <div class="my_cols my_col-2"></div>
                    <div class="my_cols my_col-10">
                        <div class="my_row">
                            <div class="my_cols my_col-6">
                                <!--детальна інформація-->
                                <div>

                                    <table class="wd100" border="0">
                                        <tr class="tableNoBorder"> <td colspan="4" class="bg-col-table tx-al-c"><b>Детальна інформація по квартирі:</b></td></tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">готовн.до заселення: </td>
                                            <td colspan="3" class="tx-al-r">@Model.ReadinessApartment</td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l"> стан : </td>
                                            <td colspan="3" class="tx-al-r">@Model.ConditionOfApartment</td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">кі-сть поверхів:</td>
                                            <td colspan="3" class="tx-al-r">@Model.TotalFloor</td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">поверх:</td>
                                            <td colspan="3" class="tx-al-r">@Model.FloorApartment</td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">тип кімнат:</td>
                                            <td colspan="3" class="tx-al-r">@Model.RoomType</td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">кі-сть кімнат:</td>
                                            <td colspan="3" class="tx-al-r">@Model.RoomsApartment</td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">тип ванної:</td>
                                            <td colspan="3" class="tx-al-r">@Model.BathRoomApartment</td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">балкон:</td>
                                            <td colspan="3" class="tx-al-r">@Model.BalconyApartment</td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">матеріал стін:</td>
                                            <td colspan="3" class="tx-al-r">@Model.WallMaterial</td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">матеріал підлоги:</td>
                                            <td colspan="3" class="tx-al-r">@Model.FloorMaterial</td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">площа кухні:</td>
                                            <td colspan="3" class="tx-al-r">@Model.KitchenAreaApartment  m<sup>2</sup></td>
                                        </tr>
                                        <tr class="tableNoBorder">
                                            <td class="tx-al-l">житлова площа:</td>
                                            <td colspan="3" class="tx-al-r">@Model.LivingAreaApartment m<sup>2</sup></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="my_cols my_col-6">
                                <div class="my_row">
                                    <div class="my_cols my_col-12">
                                        <div class="my_row">
                                            <div class="my_cols my_col-12">
                                                <div>
                                                    <b>Додаткове обладнання:</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my_row">
                                            <div class="my_cols my_col-6">
                                                <div class="tx-al-l additionalEquipmentLeftColumn">
                                                    @Html.CheckBoxFor(model => model.Boiler)
                                                    @if (Model.Boiler)
                                                    {
                                                        <span  class="additionalEquipmentText colorRed">Бойлер</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="additionalEquipmentText">Бойлер</span>

                                                    }

                                                </div>
                                            </div>
                                            <div class="my_cols my_col-6">
                                                <div class="tx-al-l">
                                                    @Html.CheckBoxFor(model => model.Intercom)
                                                    @if (Model.Intercom)
                                                    {
                                                        <span  class="additionalEquipmentText colorRed">Домофон</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="additionalEquipmentText">Домофон</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my_row">
                                            <div class="my_cols my_col-6">
                                                <div class="tx-al-l additionalEquipmentLeftColumn">
                                                    @Html.CheckBoxFor(model => model.CableTv)
                                                    @if (Model.CableTv)
                                                    {
                                                        <span class="additionalEquipmentText colorRed">Кабельне телебачення</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="additionalEquipmentText">Кабельне телебачення</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="my_cols my_col-6">
                                                <div class="tx-al-l">
                                                    @Html.CheckBoxFor(model => model.Internet)
                                                    @if (Model.Internet)
                                                    {
                                                        <span class="additionalEquipmentText colorRed">Интернет</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="additionalEquipmentText">Интернет</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my_row">
                                            <div class="my_cols my_col-6">
                                                <div class="tx-al-l additionalEquipmentLeftColumn">
                                                    @Html.CheckBoxFor(model => model.Air)
                                                    @if (Model.Air)
                                                    {
                                                        <span  class="additionalEquipmentText colorRed">Кондіціонер</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="additionalEquipmentText">Кондіціонер</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="my_cols my_col-6">
                                                <div class="tx-al-l">
                                                    @Html.CheckBoxFor(model => model.Furniture)
                                                    @if (Model.Furniture)
                                                    {
                                                        <span class="additionalEquipmentText colorRed">Меблі</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="additionalEquipmentText">Меблі</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my_row">
                                            <div class="my_cols my_col-6">
                                                <div class="tx-al-l additionalEquipmentLeftColumn">
                                                    @Html.CheckBoxFor(model => model.Signaling)
                                                    @if (Model.Signaling)
                                                    {
                                                        <span class="additionalEquipmentText colorRed">Сигналізація</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="additionalEquipmentText">Сигналізація</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="my_cols my_col-6">
                                                <div class="tx-al-l">
                                                    @Html.CheckBoxFor(model => model.SatelliteTv)
                                                    @if (Model.SatelliteTv)
                                                    {
                                                        <span class="additionalEquipmentText colorRed">Супутникове телебачення</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="additionalEquipmentText">Супутникове телебачення</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my_row">
                                            <div class="my_cols my_col-6 additionalEquipmentLeftColumn">
                                                <div class="tx-al-l additionalEquipmentLeftColumn">
                                                    @Html.CheckBoxFor(model => model.WashingMachine)
                                                    @if (Model.WashingMachine)
                                                    {
                                                        <span class="additionalEquipmentText colorRed">Пральна машинка</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="additionalEquipmentText">Пральна машинка</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="my_cols my_col-6">
                                                <div class="tx-al-l">
                                                    @Html.CheckBoxFor(model => model.MyWindows)
                                                    @if (Model.MyWindows)
                                                    {
                                                        <span class="additionalEquipmentText colorRed">Склопакети</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="additionalEquipmentText">Склопакети</span>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

