@model NLayerApp.BusinessLogicLayer.Models.DeleteLandViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Видадення з бази даних</h2>
<h3>обєкту "Земля"</h3>
<div>
@if ((Model?.Id ?? 0) > 0)
{
    <p style="font-size: 30px; color: red; text-align: center">Увага!!!!</p>
    <p style="font-size: 20px;"> ви збираєтесь виладити з бази данних без змоги відновити обєкт з такими параметрами:</p>
    <form method="POST" action="/AdminLand/Delete">
        <table>
            <tr><td>id :</td><td><input value="@Model.Id" name="Id" /></td></tr>
            <tr><td>населений пункт :</td><td>@Html.DropDownList("Village", ViewBag.villageName as SelectList, @Model.Village)</td></tr>
            <tr><td>район:</td><td>@Html.DropDownList("Region", ViewBag.regionName as SelectList, @Model.Region)</td></tr>
            <tr><td>вулиця:</td><td>@Html.DropDownList("Street", ViewBag.streetName as SelectList, @Model.Street)</td></tr>
            <tr><td>номер будинку:</td><td>@Model.NumberAdress</td></tr>
            <tr><td>тип операції:</td><td>@Model.OperationType</td></tr>
            <tr><td>тип землі :</td><td>@Model.TypeLand</td></tr>
            <tr><td>площа :</td><td>@Model.LandArea</td></tr>
            <tr><td>детальна Інфо :</td><td>@Model.InfoDetails</td></tr>
        </table>
        <input type="submit" value="Видалити"/>
    </form>
}
</div>


<div style="margin-top: 50px; margin-bottom: 20px">
    @Html.ActionLink("Повернутися до списку обєктів Земля", "Index")
</div>
