@model NLayerApp.BusinessLogicLayer.Models.LandInsertUpdateViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InputObjectForm.cshtml";
}

<h2>Редагування обєктів"Земля" </h2>
<form method="POST" action="/AdminLand/Edit/">
    <fieldset>
        <legend class="adminPart">Адресні дані </legend>
        <input type="hidden" value="@Model.Id" name="Id"/>

        <!--Населені пункти -->
        <p>
            <label>населений пункт:</label>
            @Html.DropDownList("Village", ViewBag.villageName as SelectList, @Model.Village)
        </p>
        <!--район-->
        <p>
            <label>район:</label>
            @Html.DropDownList("Region", ViewBag.regionName as SelectList, @Model.Region)
        </p>
        <!--вулиця -->
        <p>
            <label>вулиця:</label>
            @Html.DropDownList("Street", ViewBag.streetName as SelectList, @Model.Street)
        </p>
        <!--Номер будинку-->
        <p>
            <label>будинок № :</label>
            <input type="text" id="adress_number" value="@Model.NumberAdress" name="NumberAdress"/>
        </p>
        <p>
            <label>кадастровий №:</label>
            <input type="text" value="@Model.CadastraNummber" name="CadastraNummber"/>
        </p>
       

    </fieldset>

    <!-- +++++++++++++++++++++++++++ Детальна інформація +++++++++++++++++++++++++++++++ -->

    <fieldset>
        <legend class="adminPart">Детальна інформація</legend>
        <!-- Призначення земельної ділянки -->
        <p>призначення земельної ділянки:<b> @Model.TypeLand </b>
        </p>
        <fieldset class="changeInfo">
            <legend class="colorRed">змінити (залишити) призначення земельної ділянки на: </legend>
            <select name="TypeLand">
                <option value="індивідуальне">індивідуальне</option>
                <option value="комерційне">комерційне</option>
                <option value="сільськогосподарське">сільськогосподарське</option>
            </select>
        </fieldset>

        <!-- Площа земельної ділянки -->
        <p>
            <label> площа земельної ділянки:</label>
            <input type="number" value="@Model.TotalArea" name="TotalArea" min="0.1" step="0.1" /> (Га)
        </p>
    </fieldset>
    <!-- ++++++++++++++++++++++++++ Комунікаціїї ++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <fieldset>
        <legend class="adminPart">Комунікації</legend>

        
        <p>
           @Html.CheckBoxFor(model => model.Gas)газ
        </p>
        <p>
            @Html.CheckBoxFor(model => model.RailWay)залізнична дорога
        </p>
        <p>
            @Html.CheckBoxFor(model => model.CentralSewerage)центральна каналізація
        </p>
        <p>
            @Html.CheckBoxFor(model => model.CentralWater)центральне водопостачання
        </p>
        <p>
            @Html.CheckBoxFor(model => model.CentralHeating)центральне отоплення
        </p>
        <p>
            @Html.CheckBoxFor(model => model.Electricity)електроенергія
        </p>
        

    </fieldset>
    
    <!--+++++++++++++++++++++++++++++ Опис обьєкту ++++++++++++++++++++++++++++++++++++ -->
    <fieldset>
        <legend class="adminPart">Опис обєкту</legend>
        <!-- Заголовок -->
        <p>
            <label class="admDetailsInfo">заголовок :</label><br/>
            @Html.TextAreaFor(model=>model.CaptionLink,2, 120,  new { htmlAttributes = new { @class = "form-control" } })
            @*<textarea id="" value="@Model.NameCaptionLink"  name="NameCaptionLink"  cols="120" rows="2"></textarea>*@
        </p>
       

        <!-- Детальна інформація -->
        <p>
            <label class="admDetailsInfo">детальна інформація</label><br>
            @Html.TextAreaFor(model => model.InfoDetails, 5, 120, new { htmlAttributes = new { @class = "form-control" } })

        </p>

        <p class="fl">
            @Html.RadioButton("OperationType", "продаж")<span>продаж</span>
            <input class="nevedimkaRent" type="number" value="@Model.DollarPrice" id="dol"  max="250000" placeholder="ціна в доларах" name="DollarPrice" size="3">
            @Html.RadioButton("OperationType", "оренда")<span>оренда</span>
            <input class="nevedimkaRent" type="number" value="@Model.GrnPrice" id="grn"  max="500000" placeholder="ціна в гривні " name="GrnPrice" size="3">
        </p>

       
    </fieldset>
   
    <p>
        <input type="submit" value="Зберегти зміни"/>
        <input type="reset" value="Очистити форму"/>
    </p>
</form>

